<h1>Billing Panel Demo</h1>
<form method='POST' action='/checkout'>
  User: <input name='user' required/><br>
  Plan: <input name='plan' required/><br>
  Amount: <input name='amount' required/><br>
  <button>Checkout</button>
</form>

