<h1>Invoice <%= invoice.id %></h1>
<p>Pay UPI: <%= upi %></p>
<form method='POST' action='/invoice/'+invoice.id+'/upload' enctype='multipart/form-data'>
<input type='file' name='ss'/><button>Upload</button>
</form>
